<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="robots" content="index, follow" />
        <meta name="description" content="Precision Electro Mechanical" />
        <meta name="keywords" content="symfony, project" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="UTF-8">

        <link rel="shortcut icon" href="/favicon.png" />
        {%block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="/bundles/nstemplates/css/layout.css" />
            <link rel="stylesheet" type="text/css" media="screen" href="/bundles/nstemplates/css/theme.css" />
            <link rel="stylesheet" type="text/css" media="screen" href="/bundles/nstemplates/css/pikaday.css" />
            <link rel="stylesheet" type="text/css" media="screen" href="/bundles/nsteamplates/css/site.css" />
            <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css" />
            <![endif]-->
        {%endblock %}

        <title>{%block htmltitle %}NS Templates{%endblock%}</title>

        {% block javascripts %}
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.3/scriptaculous.js"></script>
            <script type="text/javascript" src="/bundles/nstemplates/js/main.js"></script>
            <script type="text/javascript" src="/bundles/nstemplates/js/filters.js"></script>
            <script type="text/javascript" src="/bundles/nstemplates/js/menus.js"></script>
            <script type="text/javascript" src="/bundles/nstemplates/js/hinclude.js"></script>
            <script type="text/javascript" src="/bundles/nstemplates/js/panels.js"></script>
            <script type="text/javascript" src="/bundles/nstemplates/js/moment.min.js"></script>
            <script type="text/javascript" src="/bundles/nstemplates/js/pikaday.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="header">
            {%block header %}
            {%endblock%}
        </div>

        {%block message %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="bannerMessage critical">
                    <h3>{{flashMessage.header}}</h3>
                    <div class="messageContent">
                      <h4>{{flashMessage.title}}</h4>
                      <p>{{flashMessage.message}}</p>
                      <div class="messageCommit">
                         <button>{{flashMessage.buttonMessage}}</button>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="bannerMessage error">
                    <h3>{{flashMessage.header}}</h3>
                    <div class="messageContent">
                      <h4>{{flashMessage.title}}</h4>
                      <p>{{flashMessage.message}}</p>
                      <div class="messageCommit">
                         <button>{{flashMessage.buttonMessage}}</button>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="bannerMessage success">
                    <h3>{{flashMessage.header}}</h3>
                    <div class="messageContent">
                      <h4>{{flashMessage.title}}</h4>
                      <p>{{flashMessage.message}}</p>
                      <div class="messageCommit">
                         <button>{{flashMessage.buttonMessage}}</button>
                      </div>
                    </div>
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="bannerMessage">
                    <h3>{{flashMessage.header}}</h3>
                    <div class="messageContent">
                      <h4>{{flashMessage.title}}</h4>
                      <p>{{flashMessage.message}}</p>
                      <div class="messageCommit">
                         <button>{{flashMessage.buttonMessage}}</button>
                      </div>
                    </div>
                </div>
            {% endfor %}
       {%endblock%}

        <div id="main_content">
            {%block body %}
            {%endblock %}
        </div>
    </body>
</html>
